*{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
}
.logo{
    text-align: center;
    margin-top: 10px;
}
h1{
    font-family: monospace;
    content: '';
    animation:animate infinite 17s;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
@keyframes animate {
    10%{
        color: #072a4b;
    }
    30%{
      
        color:#0c3b66;
    }
    40%{
        color:#4e6ebe ;
    }
    60%{
     color:#1e5690 ;   
    }
    80%{
        color:#040f20 ;
    }
    90%{
        color: #092e3d

    }
    100%{
        color:#050828 ;
    }
}
body{
  background-image: url(../img/wp1890443.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    text-align: center;
    padding-top: 20px;
}
a{
    text-decoration: none;
}
select{
    width: 90px;
    height: 30px;
    border-radius: 25px;
    color: #fff;
    background: #000;
    width: 110px;
}
